* {
	text-align: center;
	font-family: Arial;
}

h1 {
	width: auto;
}

body {
	color: white;
	background-color: rgb(27, 26, 26);
}

.header {
	margin-top: 15%;
}

.URL-input,
.convert-button {
	font-size: 1em;
	padding: 5px 10px;
}

.URL-input {
	margin: auto;
	border-radius: 4px 0px 0px 4px;
	width: 370px;
	text-align: left;
	border: 2px solid #141313;
	background: #141313;
	color: white;
}

.convert-button {
	margin: 2% auto;
	border: 2px solid #6d0303;
	background: #6d0303;
	color: white;
}

.convert-button:hover {
	background: #460202;
	border-color: #460202;
}

p {
	width: 75%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	text-align: left;
	justify-items: right;
}

td {
	text-align: left;
	border: 1px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
	padding-top: 11px;
}

table {
	width: 75%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

caption {
	width: auto;
}

@media only screen and (max-width: 600px) {
	.URL-input {
		width: auto;
	}

	.convert-button {
		width: auto;
	}

	footer {
		margin-top: 15%;
	}
}