/* Style général */

* {
	text-align: center;
	font-family: Arial;
}

body {
	color: rgb(170, 166, 166);
	background-color: rgb(27, 26, 26);
}

p {
	width: 75%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	text-align: left;
	justify-items: right;
	color: rgb(170, 166, 166);
}

a {
	color: #D0ADF0;
}

/* Partie "convertisseur" */

.header {
	margin-top: 50px;
}

.URL-input, .convert-button {
	font-size: 1em;
	padding: 5px 10px;
}

.URL-input {
	margin: auto;
	border-radius: 4px 0px 0px 4px;
	width: 370px;
	text-align: left;
	border: 2px solid #141313;
	background: #141313;
	color: white;
}

.convert-button {
	margin: 2% auto;
	border: 2px solid #6d0303;
	background: #6d0303;
	color: white;
}

.convert-button:hover {
	background: #460202;
	border-color: #460202;
}

/* Partie "infos" */
.infos {
	border-top: #2e332d 1px solid;
}

.infos h1 {
	position: relative;
	left: 25%;
	transform: translate(-25%);
	color: #b99cf0;
	font-size: 3rem;
}

.infos h2 {
	position: relative;
	color: #9e77e6;
	font-size: 2.5rem;
	text-align: left;
	margin-left: 15px;
}

.infos ul {
	list-style: none;
}

.infos li {
	text-align: left;
	font-size: large;
	padding-top: 5px;
	color: rgb(170, 166, 166);
}

.faq {
	float: left;
}

/* Partie "infos" - "faq" */
.faq {
	width: 50%;
    text-indent: 15px;
	border-right: #2e332d 1px solid;
}

.faq h1, .faq h2 {
	text-align: center;
}

/* Partie "infos" - "Discord" */
.discord {
	width: 49%;
	float: right;
}

.discord h1, .discord h2 {
	text-align: center;
}

/* Partie responsive */
@media only screen and (max-width: 600px) {
	.URL-input {
		width: auto;
	}

	.convert-button {
		width: auto;
	}
}