<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='./style.css'/>
	<script src='./script.js'></script>
	<title>Le convertisseur qui marche à moitié :c</title>
</head>
<body>
	<h1 class='header'>Convertissez votre vidéo Youtube en fichier audio au format MP3 !</h1>
	<input class='URL-input' placeholder='https://www.youtube.com/watch?v=dQw4w9WgXcQ'/>
	<button class='convert-button' onclick="checkLink()">Convertir en MP3</button>
	<div class="statut">Pour consulter le statut de votre téléchargement, veuillez vous référer auprès de l'invite de commande (aka CMD, fenêtre noire qui s'ouvre lors de l'éxécution du programme)</div>
	<p>Voici un vrai convertisseur Youtube qui vous permet de convertir vos vidéos Youtube au format MP3 ! C'est <b>gratuit</b> et <b>sans publicités</b> ! Entrez votre lien et laissez le programme faire le reste, vous n'avez juste qu'à télécharger votre fichier ! <i>À noter que l'opération peut prendre un peu de temps.</i></p>
	
	<div class="infos">
		<div class="faq">
			<h1>Des infos sur le convertisseur</h1>
			<h2>Des réponses à vos questions</h2>
			<ul>
				<li><b style="color: rgb(86, 86, 235);">››</b> Prend en charge les playlists</li>
				<li><b style="color: violet;">››</b> Ne fonctionne qu'avec les vidéos Youtube</li>
				<li><b style="color: orange;">››</b> Projet totalement open source (lien des Github sur le Discord)</li>
				<li><b style="color: red;">››</b> Sympa avec vos données et votre ordinateur</li>
			</ul>
		</div>
		<div class="discord">
			<h1>Rejoignez le <a target="_blank" href="https://discord.gg/S8Xf8Bc24g"> Discord</a> !</h1>
			<h2>Pourquoi le rejoindre ?</h2>
			<div class="faq-discord">
				<ul>
					<li><b style="color: rgb(86, 86, 235);">››</b> Signalez des bugs</li>
					<li><b style="color: violet;">››</b> Partagez vos idées</li>
					<li><b style="color: orange;">››</b> Donnez votre retour</li>
					<li><b style="color: red;">››</b> Discutez avec les membres</li>
				</ul>
			</div>
		</div>
	</div>
	<h3>Magitivisseur n'est en aucun cas responsable de vos agissements. Le programme est en open source et est par conséquent libre de modifications par tous et toutes !</h3>
</body>
</html>